[submodule "parsers/tree-sitter-bash"]
	path = parsers/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "parsers/tree-sitter-c"]
	path = parsers/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "parsers/tree-sitter-go"]
	path = parsers/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "parsers/tree-sitter-rust"]
	path = parsers/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "parsers/tree-sitter-ocaml"]
	path = parsers/tree-sitter-ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml
[submodule "parsers/tree-sitter-ruby"]
	path = parsers/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule "parsers/tree-sitter-python"]
	path = parsers/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "parsers/tree-sitter-clojure"]
	path = parsers/tree-sitter-clojure
	url = https://github.com/sogaiu/tree-sitter-clojure
[submodule "parsers/tree-sitter-erlang"]
	path = parsers/tree-sitter-erlang
	url = https://github.com/WhatsApp/tree-sitter-erlang
[submodule "parsers/tree-sitter-scheme"]
	path = parsers/tree-sitter-scheme
	url = https://github.com/6cdh/tree-sitter-scheme
[submodule "parsers/tree-sitter-haskell"]
	path = parsers/tree-sitter-haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell
[submodule "parsers/tree-sitter-racket"]
	path = parsers/tree-sitter-racket
	url = https://github.com/6cdh/tree-sitter-racket
[submodule "parsers/tree-sitter-julia"]
	path = parsers/tree-sitter-julia
	url = https://github.com/tree-sitter/tree-sitter-julia
[submodule "parsers/tree-sitter-nix"]
	path = parsers/tree-sitter-nix
	url = https://github.com/nix-community/tree-sitter-nix
[submodule "parsers/tree-sitter-kotlin"]
	path = parsers/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin
[submodule "parsers/tree-sitter-moonbit"]
	path = parsers/tree-sitter-moonbit
	url = https://github.com/moonbitlang/tree-sitter-moonbit
